services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "
        python manage.py migrate --noinput &&
        python manage.py collectstatic --noinput &&
        gunicorn e_commerce_project.wsgi:application --bind 0.0.0.0:8000
      "
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: always

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A e_commerce_project worker --loglevel=info --concurrency=2
    env_file:
      - .env
    depends_on:
      - redis
      - web

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - web
    restart: always
