services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    #    image: lennyprocolibri/django-web:latest
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn e_commerce_project.wsgi:application --bind 0.0.0.0:8000"
    env_file:
      - .env
    volumes:
      - ./static:/app/static
      - ./media:/app/media
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/admin/ || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 30s

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A ecommerce_project worker --loglevel=info --concurrency=3 --hostname=worker@%h
    volumes:
      - .:/app
      - ./static:/app/static
      - ./media:/app/media
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_started

  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./static:/app/static
      - ./media:/app/media
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      web:
        condition: service_healthy
    restart: unless-stopped

volumes:
  static:
  media:
