version: "3.9"

services:
  web:
    image: lennyprocolibri/django-web:latest
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn e_commerce_project.wsgi:application --bind 0.0.0.0:8000"
    env_file:
      - .env
    volumes:
      - ./static:/app/static     # STATIC_ROOT
      - ./media:/app/media       # MEDIA_ROOT
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/admin/ || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 30s
    networks:
      - webnet

  worker:
    image: lennyprocolibri/django-web:latest
    command: celery -A e_commerce_project worker --loglevel=info --concurrency=3 --hostname=worker@%h
    env_file:
      - .env
    volumes:
      - ./static:/app/static
      - ./media:/app/media
    depends_on:
      redis:
        condition: service_started
    restart: unless-stopped
    networks:
      - webnet

  redis:
    image: redis:7.2-alpine
    restart: unless-stopped
    networks:
      - webnet

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./static:/app/static         # Serve static files
      - ./media:/app/media           # Serve media files
      - ./nginx:/etc/nginx/conf.d    # Nginx config directory
    depends_on:
      web:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
