{% extends 'base.html' %}
{% load static %}

{% block title %} product_list.html {% endblock %}

{% block content %}

    <div id="sidebar">
        <h3>MENU</h3>
        <div class="category">

            <span {% if not category %} class="selected" {% endif %}>
                <a href="{% url "inventory:product_list" %}">All</a>
            </span>

            {% for c in categories %}
                <span {% if category.slug == c.slug %} class="selected" {% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
{#                    <a href="{% url 'inventory:product_list_by_category' c.slug %}">{{ c.name }}</a>#}
                </span>
            {% endfor %}

        </div>
    </div>

    <div id="main" class="product-list">
        <h2>{% if category %} {{ category.name }} {% else %} Delicious Meals {% endif %}</h2>

        <table>
            {% for product in products %}
                <tr>
                    <td>
                        <img
                                style="display: flex; width: 150px; height: 150px; object-fit: cover;"
                                src="
                                        {% if product.image %}
                                            {{ product.image.url }}
                                        {% else %}
                                            {% static "image/no_image.png" %}
                                        {% endif %} "

                                alt="#"
                        />
                    </td>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            {{ product.name }}
                        </a>
                    </td>
                    <td>$ {{ product.price }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}








{######################################################################################################}
{#        {% for product in products %}#}
{#            <div class="item">#}
{#                <a href="{{ product.get_absolute_url }}">#}
{#                    {{ product.name }}#}
{#                </a>#}
{#                <br>#}
{#                $ {{ product.price }}#}
{#            </div>#}
{#        {% endfor %}#}
{######################################################################################################}
