name: Deploy to Cloud

on:
  push:
    branches: [ 'main' ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy
        run: |
          ssh ${{ secrets.SSH_USER }}@{{ secrets.SERVER_IP }} '
          git config --global --add safe.directory ${{ secrets.PROJECT_DIR }} &&
          cd ${{ PROJECT_DIR }} &&
          docker-compose down &&
          git pull origin main &&
          docker-compose up -d &&
          '
